@import 'styles/constants';

.list {
  display: grid;
  gap: 24px;
  grid-auto-flow: column;
  text-align: center;
}

.link {
  font: 1.2rem map-get($fonts, muli);
}

.link:global(.active) {
  color: map-get($colors, red);
}
