@import "styles/constants.scss";

.primary-navigation {
  .list {
    display: grid;
    gap: 24px 42px;
    grid-auto-flow: column;
    text-align: center;
  }

  .link {
    font: 1.2rem map-get($fonts, muli);
  }

  .link:global(.active) {
    color: map-get($colors, red);
  }
}
