@import "sass-mq";
@import "styles/constants";
@import "styles/mixins";

.layout {
  background: map-get($colors, dark);
  color: map-get($colors, white);
  display: grid;
  grid-template: 1fr auto / auto;
  padding: 66px 0 0;

  @include mq($until: tablet) {
    padding-top: 48px;
  }

  @include light-mode {
    background: map-get($light-mode-colors, white);
    color: map-get($light-mode-colors, dark);
  }
}

.navigation-wrapper {
  align-items: center;
  background: rgba(map-get($colors, dark), 0.75);
  display: flex;
  height: 66px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @include mq($until: tablet) {
    height: 48px;
    justify-content: flex-end;
    padding: 0 24px;
  }

  @include light-mode {
    background: rgba(map-get($light-mode-colors, white), 0.75);
    border-bottom: 1px solid rgba(map-get($light-mode-colors, dark), 0.125);
  }
}

.primary-navigation-wrapper {
  /* stylelint-disable-next-line at-rule-empty-line-before */
  @include mq($until: tablet) {
    display: none;
  }
}

.main-wrapper,
.footer-wrapper {
  padding: 24px 16px;
}

.main-wrapper {
  display: grid;
}

.footer-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icons {
  align-items: center;
  display: grid;
  gap: 18px;
  grid-auto-flow: column;

  @include mq($until: tablet) {
    gap: 18px;
  }
}

.autosuggest-wrapper {
  position: relative;
}

/* stylelint-disable-next-line selector-class-pattern */
.autosuggest-wrapper :global(.react-autosuggest__input) {
  background: map-get($colors, black);
  color: inherit;
  padding: 6px;
  width: 160px;

  @include light-mode {
    background: map-get($light-mode-colors, white);
    border: 1px solid map-get($light-mode-colors, black);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.autosuggest-wrapper :global(.react-autosuggest__suggestions-container--open) {
  margin: 8px 0 0;
  position: absolute;
  right: 0;
  width: 320px;
}

.date {
  background: map-get($colors, black);
  font-size: 1.2rem;
  font-weight: 900;
  padding: 4px 8px;

  @include light-mode {
    background: map-get($light-mode-colors, blue);
    color: map-get($light-mode-colors, white);
  }
}

.render-suggestion {
  background: map-get($colors, blue);
  padding: 8px;

  @include light-mode {
    background: map-get($light-mode-colors, white);
    border: 1px solid map-get($light-mode-colors, black);
  }
}

.title {
  font-weight: 900;
}

.markdown {
  overflow: hidden;
  padding: 4px 0 0;
}

.button {
  align-items: center;
  background: map-get($colors, blue);
  border-radius: 12px;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 24px;
  position: fixed;
  right: 0;
  width: 60px;

  @include mq($from: tablet) {
    display: none;
  }
}

.square-navigation-wrapper {
  bottom: 0;
  position: fixed;
  right: 0;
}
