@import "sass-mq";
@import "styles/constants";
@import "styles/mixins";

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 36px 0 0;

  @include mq($until: tablet) {
    justify-content: center;
  }
}

.link {
  background: map-get($colors, blue);
  color: map-get($colors, white);
  padding: 9px 12px;

  @include light-mode {
    color: map-get($light-mode-colors, white);
  }
}
