@import "sass-mq";
@import "styles/constants.scss";

.request {
  .footer {
    @include mq($until: tablet) {
      justify-content: center;
    }

    display: flex;
    justify-content: flex-end;
    padding: 36px 0 0;
  }

  .link {
    background: map-get($colors, blue);
    color: map-get($colors, white);
    padding: 9px 12px;
  }
}
