@import "styles/constants.scss";

.square-navigation {
  background: rgba(map-get($colors, black), 0.75);
  padding: 16px;

  .list {
    display: grid;
    gap: 16px;
    grid-template: repeat(3, 72px) / repeat(3, 60px);
  }

  .link-wrapper {
    display: grid;
    gap: 2px;
    grid-template: 60px auto / auto;
  }

  .icon-link {
    align-items: center;
    background: map-get($colors, blue);
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }

  .icon-link:global(.active) {
    background: map-get($colors, red);
  }

  .text-link {
    font: 1.1rem "Muli", sans-serif;
    text-align: center;
  }

  .text-link:global(.active) {
    color: map-get($colors, red);
  }
}
