@import "styles/constants.scss";
@import "styles/mixins.scss";

.button {
  @include light-mode {
    color: map-get($light-mode-colors, white);
  }

  background: map-get($colors, blue);
  color: map-get($colors, white);
  font-size: 1.2rem;
  padding: 9px 12px;

  &:disabled {
    opacity: 0.5;
  }
}
