@import "styles/constants";
@import "styles/mixins";

.markdown {
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  .a {
    color: map-get($colors, red);
  }

  .blockquote {
    color: inherit;
  }

  .code,
  .table .tr {
    background-color: map-get($colors, blue);

    @include light-mode {
      color: map-get($light-mode-colors, white);
    }
  }

  .thead .tr,
  .table .tr:nth-child(even) {
    background-color: darken($color: map-get($colors, blue), $amount: 15);
  }

  .syntax-highlighter-wrapper {
    position: relative;
  }

  .syntax-highlighter {
    padding: 16px !important;
  }

  .copy-to-clipboard {
    cursor: pointer;
    margin: 12px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .syntax-highlighter code,
  .code {
    font-family: inherit;
    white-space: pre-wrap !important;
    word-break: break-all;
  }

  .ul {
    list-style: square;
  }

  .ol {
    list-style: hiragana-iroha;
  }

  iframe {
    margin: 0 0 16px;
  }

  :global(.iframe-wrapper) {
    margin: 0 0 16px;
    position: relative;
  }

  :global(.iframe-wrapper)::before {
    content: "";
    display: block;
    padding: 56.25% 0 0;
  }

  :global(.iframe-wrapper) iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
