@import "styles/constants.scss";
@import "styles/mixins.scss";

.markdown {
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  .a {
    color: map-get($colors, red);
  }

  .blockquote {
    color: inherit;
  }

  .code,
  .pre,
  .table .tr {
    @include light-mode {
      color: map-get($light-mode-colors, white);
    }

    background-color: map-get($colors, blue);
  }

  .thead .tr,
  .table .tr:nth-child(even) {
    background-color: darken($color: map-get($colors, blue), $amount: 15);
  }

  .pre {
    font-size: 1.2rem;
    position: relative;
  }

  .copy-to-clipboard {
    cursor: pointer;
    margin: 12px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .code {
    white-space: pre-wrap;
  }

  .ul {
    list-style: square;
  }

  .ol {
    list-style: hiragana-iroha;
  }
}
